[Unit]
Description=Apache Kafka server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=root
Group=root
Environment=JAVA_HOME=/usr/lib/jvm/java-8-oracle
ExecStart=/root/software/kafka_2.11-1.1.0/bin/kafka-server-start.sh /root/software/kafka_2.11-1.1.0/config/server.properties 
ExecStop=/root/software/kafka_2.11-1.1.0/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
